body {
    text-align: center;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    max-width: 100%;
    height: auto;
  }
  
  form {
    font-size: 15px;
    text-align: center;
    display: block;
  }